body {
    background-color: #875D85;
    font-family: Arial;
    font-size: 25px;
    line-height: 1;
}

h1 {
    display: block;
    font-family: 'Lobster', cursive;
    font-size: 100px;
    font-weight: 300;
    text-align: center;
}

.intro {
    display: block;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    padding: -40px;
}

.nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    justify-items: right;
    margin-top: 10px;
    height: 50vw;
    
}

.project-header {
    text-align: center;
    padding: 100px;
}

#welcome-section {
    height: 100vh;
}

#projects {
    height: 100vh;
}